<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension="." mimeType="text/html" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="http to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                        <add input="{HTTP_HOST}" pattern="^(localhost)" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="false" redirectType="Permanent" />
                </rule>
　　　　　　　
                <rule name="www to docs" stopProcessing="true">　　　　　　　　
                    <match url="^(.*)" />　　　　　　　　　　　　
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www.pawpaw.ltd$" />　　　　　　　　　　
                        　　　　　　　　　　　　
                    </conditions>　　　　　　　　　
                    <action type="Redirect" url="https://docs.pawpaw.ltd/{R:1}" />　　　　　　　
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
